body {
  width: 960px;
  margin: auto;
  background-color: tan; }

h2 {
  margin-bottom: 0;
  font-size: 26px; }

input {
  float: left;
  margin: 38px 5px; }

.box {
  float: left;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  margin: 10px; }

.clear {
  clear: both; }
