html, body {
  height: 100%; }

#map-canvas {
  height: 100%;
  width: 100%;
  border: 1px solid black; }

#left, #right {
  float: left; }

#left {
  width: 60%;
  height: 100%; }

#right {
  width: 40%; }
