@import url(http://fonts.googleapis.com/css?family=Nosifer);
@import url(http://fonts.googleapis.com/css?family=Inika);

body{
background-color:#ffffff;
font-family: 'Inika', serif;
width:960px;
height:800px;
margin:0 auto;
padding:10px;
}

#logo{

  width:100%;
  height:150px;
  border-bottom: 2px solid #ffffff;
  font-size: 60px;
  font-family: 'Nosifer', cursive;
  padding-top:20px;
  padding-left:10px;
  background-color:#000000;
  color:#FF9900;

}

/*Beginning of Top Nav------------------------AA*/
nav{
width:960px;
height:30px;
background-color:#000000;
list-style: none;
position: relative;
display: inline-table;
}

nav ul li {
  float: left;
}

nav ul ul {
  background: #000000;
  position: absolute; top: 100%;
}
  nav ul ul li {
    float: none;
    position: relative;
  }
    nav ul ul li a {
      padding:10px;
      color: #FF9900;
      text-decoration: none;
      height:30px;
    }
      nav ul ul li a:hover {
        background: transparent;
        color:#ffffff;
      }
      nav ul ul ul {
  position: absolute; left: 100%; top:0;
}

nav li{
  display:inline;
  padding-left:20px;
  margin-top:5px;
}
nav ul li a{
  text-decoration: none;
  color: #FF9900

}
nav a:hover{
  color:#ffffff;
}
nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;

}
  nav ul:after {
    content: ""; clear: both; display: block;
  }
 /*end of the top nav----------------------------AA*/

/*this is the wrapper which wraps around the main section and
holds the content together*/
#wrapper{
  height:600px;
  background-color:#ffffff;
  padding:10px;
}

#video{
padding:10px 10px 0px 0px;
float:left;
}

header > h1
{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 35px;
}

.clear
{
  clear:both;
}


section > h2{
font-size:45px;
}

section > p{
  padding:2px;
  line-height: 20px;
}

section > p:nth-of-type(2n){
font-style: italic;
color:#fff;
background-color:#000;
}

footer{
  height:150px;
  background-color:#000000;
  color:#FF9900;
  padding:10px;
}


