!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title HAML & SASS Template
    %link{rel: 'stylesheet', href: 'css/mormalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    .main
      %header
        %h1 Movie Title
      %nav
        %ul
          %li
            %a{href: '#'} Jaws
          %li
            %a{href: '#'} Titanic
          %li
            %a{href: '#'} Lord of the Rings
      %section
        %h1 Jaws
        %h2 Attack of the shark
        %p
          this is <b>very</b> long
          sentence so it goes over
          multiple lines
        %p#fun
          this is a fun id
        %p.classy
          this p tag is
          %strong very
          classy
        %p#oh.really.yes
          this p tag has an id of oh and 2 classes
        #a_div
          this is a div with an id of a_div
        .classy_div
          this is one classy div
      %footer

