!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title Foundation 4
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body
  .row
    .small-12.columns
      %h1 Stock Market Quote Updater
  .row
    .small-2.columns
      %input#setFunds{type:'text', autofocus:true, placeholder:'Set Funds'}
    .small-10.columns
      %input#setButton.button.success.small{type:'button', value:'SET'}
  .row
    .small-2.columns
      %input#symbol{type:'text', placeholder:'Symbol'}
    .small-2.columns
      %input#quantity{type:'text', placeholder:'Quantity'}
    .small-8.columns
      %input#buyButton.button.success.small{type:'button', value:'BUY'}
  .row
    .small-2.columns
      %h5 Balance:
    .small-10.columns
      %h5#balance
  .row
    .small-9.columns
      %h4 Stock List
    .small-2.columns
      %input#interval{type:'text', placeholder:'Set Interval'}
    .small-1.columns
      %input#intervalButton.button.success.small{type:'button', value:'SET'}
  .row
    .small-12.columns
      %table#stocks
        %tr
          %th Name
          %th Symbol
          %th Purchased Price
          %th Current Value
          %th Quanity
          %th Total

  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'js/vendor/moment.min.js'}
  %script{src: 'https://cdn.firebase.com/v0/firebase.js'}
  %script{src: 'js/app/app.js'}
