!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title HAML & SASS Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 The Geek Bank
    %section
      %img#logo{src: '#'}
      #logo_controls
        %input#logo_url{type:'text', placeholder: 'Enter url for a logo'}
        %input#logo_button{type:'button', value:'Set Logo'}

    %section
      %h2 Balance
      #balance $0.00
      #balance_controls
        %input#enter_balance{type:'text', placeholder: 'Enter Balance'}
        %input#balance_button{type:'button', value:'Set Balance'}

    %section
      %h3 Deposits and Withdraws
      %input#amount{type:'text', placeholder: 'Enter amount'}
      %input#deposit{type:'button', value:'Deposit'}
      %input#withdraw{type:'button', value:'Withdraw'}

    %section
      %h2 Transactions List
      #deposit_list
        %h4 Deposits
        %ul
      #withdraw_list
        %h4 Withdraws
        %ul

    %script{src: "js/jquery-1.10.2.min.js"}
    %script{src: "js/underscore-min.js"}
    %script{src: "js/main.js"}
