!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title HAML & SASS Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %h1 Header 1
      %img
    %section
      %h2 Section H2
      %p  Section P
      %p
        Section P
        %span Section P Span
        %span Section P Span
    %footer
      %h6 Footer H6
      %p  Footer P

    %script{src: "js/jquery-1.10.2.min.js"}
    %script{src: "js/underscore-min.js"}
    %script{src: "js/main.js"}
