@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Prosto+One);
header {
  border: 1px dashed #ba0909; }
  header #logo {
    width: 78px;
    height: 105px;
    background: url(../images/tesla_flag.png);
    float: left; }
  header #company {
    float: left; }
    header #company h1 {
      font-family: "Aldrich", cursive;
      margin-left: 50px;
      margin-top: 30px; }

nav ul {
  list-style: none;
  padding: 0; }
  nav ul li {
    display: inline-block;
    padding-right: 50px; }

div#content section h1 {
  color: #ba0909;
  font-family: "Aldrich", cursive;
  font-size: 28px;
  line-height: 20px;
  letter-spacing: 5px; }
div#content section h2 {
  color: #893a3a;
  font-family: "Aldrich", cursive;
  font-size: 26px;
  line-height: 20px;
  letter-spacing: 3px; }
div#content section p {
  color: #ff0033;
  font-family: "Aldrich", cursive;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 5px;
  padding: 10px;
  border: 2px dashed green;
  border-radius: 20px;
  background-color: yellow;
  box-shadow: 5px 5px 10px black; }

footer p {
  font-size: 20px -4px;
  color: #ba0909; }

#main {
  width: 960px;
  margin: auto; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #ba0909; }
  a:hover {
    text-decoration: underline;
    color: #933030; }
