@import url(http://fonts.googleapis.com/css?family=Nosifer);

.cart_item {
  height: 175px;
  border: 1px solid #FF9900;
  margin: 0 35px 10px 35px;
  position: relative;
}

h4 {
  margin: 0px 0px 0px 25px;
  font-family: 'Nosifer', cursive;
  font-size: 20px;
}

h5{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}

img{
  /*position: absolute;*/
  /*border: 1px solid red;*/
  float: left;
  margin-left: 20px;
}

table{
  float: right;
  padding: 20px;
  border-spacing: 30px 10px;
  width: 80%;
  line-height: 30px;
}

td, th {
  /*border: thin dotted gray;*/
  text-align: center;
}

/*.quantity {
  border: 1px solid black;
  margin: 0 -50px;
}*/

div .clear {
  clear:both;
}

section {
  width: 23%;
  float: right;
}

section ul {
  line-height: 30px;
}

button {
  background-color: #FF9900;
  font-family: 'Inika', serif;
  font-size: 17px;
  padding: 7px 30px;
  border-radius: 10px;
}