.row
  .small-12.columns
    %h2 Shopping Site
.row
  .small-2.columns
    %input#product-image{type:'text', placeholder:'Product Image'}
  .small-2.columns
    %input#product-name{type:'text', placeholder:'Product Name'}
  .small-2.columns
    %input#product-weight{type:'text', placeholder:'Product Weight'}
  .small-2.columns
    %input#product-price{type:'text', placeholder:'Retail Price'}
  .small-2.columns
    %input#product-off{type:'text', placeholder:'Percent Off'}
  .small-2.columns
    %input#add-product.button.small{type:'button', value:'Add Product'}
.row
  .small-12.columns
    %h4 Products
.row
  .small-12.columns
    %table#products
      %tr
        %th Image
        %th Name
        %th Weight
        %th Retail Price
        %th Percent Off
        %th Sale Price
.row
  .small-12.columns
    %input#previous.button.small.hidden{type:'button', value:'Previous'}
    %input#next.button.small.hidden{type:'button', value:'Next'}
.row
  .small-12.columns
    %h4 Customers
.row
  .small-2.columns
    %input#customer-image{type:'text', placeholder:'Customer Image'}
  .small-2.columns
    %input#customer-name{type:'text', placeholder:'Customer Name'}
  .small-2.columns
    %input#domestic{type: 'radio', name: 'address', value:'domestic'} Domestic
  .small-2.columns
    %input#international{type: 'radio', name: 'address', value:'international'} International
  .small-4.columns
    %input#add-customer.button.small{type:'button', value:'Add Customer'}
.row
  .small-12.columns
    %h4 Orders
.row
  .small-2.columns
    %select#select-customer
  .small-10.columns
    %table#cart
      %thead
        %tr
          %th Name
          %th Count
          %th Amount
          %th Weight
          %th Shipping
          %th Total
      %tbody
      %tfoot
.row
  .small-12.columns
    %input#purchase.button.small{type:'button', value:'Purchase'}