doctype 5
html
  head
    title Dogs
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My dogs page
    p Welcome to Node
    img(src = 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSmLkP-6CPpn7uSNwsmenvfgZUrXBfSOv-bAiYhW3YGIe4KNLClvw')