extends ../template/layout

block content
  .row
    .small-12.columns
      h1.subheader Home Page
  .row
    .small-2.columns
      a.button.small.radius.expand(href='/movies') Movies
    .small-10.columns
