html, body {
  width: 100%; }
  html table, body table {
    width: 100%; }
    html table td, body table td {
      text-align: center; }

img {
  width: 30px;
  height: 30px; }

#cart th {
  text-align: center; }
#cart td {
  text-align: center; }

#orders th {
  text-align: center; }
#orders td {
  text-align: center; }

ol {
  list-style-position: inside; }
