#graph {
  width: 100%;
  height: 500px;
  background-color: lightgrey;
  margin-bottom: 50px;
  position: relative; }
  #graph .wrapper {
    height: 500px;
    width: 55px;
    margin: 10px;
    display: inline-block;
    position: relative;
    vertical-align: baseline; }
    #graph .wrapper .bar {
      background-color: green; }
    #graph .wrapper img {
      height: 50px;
      width: 55px; }
