.row
  .small-2.columns
    a(href='/') Home
  .small-2.columns
    a(href='/songs') Songs
  .small-2.columns
    a(href='/songs/new') Add Song
  .small-2.columns
    a(href='/artists') Artists
  .small-2.columns
    a(href='/artists/new') Add Artist
  .small-2.columns
.row
  .small-2.columns
    a(href='/genres') Genres
  .small-2.columns
    a(href='/genres/new') Add Genre
  .small-8.columns
