.row
  .small-12.columns
    %h2 Shopping Site
.row
  .small-12.columns
    %h4 Products
.row
  .small-2.columns
    %input#product-image{type: 'text', placeholder: 'Image'}
  .small-2.columns
    %input#product-name{type: 'text', placeholder: 'Name'}
  .small-2.columns
    %input#product-weight{type: 'text', placeholder: 'Weight'}
  .small-2.columns
    %input#product-price{type: 'text', placeholder: 'Price'}
  .small-2.columns
    %input#product-off{type: 'text', placeholder: 'Off'}
  .small-2.columns
    %input#add-product.small.radius.button{type: 'button', value: 'Sale Price'}
.row
  .small-12.columns
    %table#products
      %tr
        %th Image
        %th Name
        %th Weight
        %th Price
        %th % Off
        %th Sale
.row
  .small-1.columns
    #previous.hidden.button.tiny.expand Previous
  .small-1.small-offset-10.columns
    #next.hidden.button.tiny.expand Next
.row
  .small-12.columns
    %h4 Customers
.row
  .small-2.columns
    %input#customer-image{type: 'text', placeholder: 'Image'}
  .small-2.columns
    %input#customer-name{type: 'text', placeholder: 'Name'}
  .small-6.columns
    %input#domestic{type: 'radio', name: 'address', value: 'domestic'} Domestic
    %input#international{type: 'radio', name: 'address', value: 'international'} International
  .small-2.columns
    %input#add-customer.small.radius.button{type: 'button', value: 'Add Customer'}
.row
  .small-12.columns
    %h4 Cart
.row
  .small-2.columns
    %select#select-customer
      %option Select Customer
  .small-10.columns
    %table#cart
      %thead
        %tr
          %th Name
          %th Count
          %th Amount
          %th Weight
          %th Shipping
          %th Total
      %tbody
      %tfoot
        %tr
          %td
          %td#cart-count
          %td#cart-amount
          %td#cart-weight
          %td#cart-shipping
          %td#cart-grand
.row
  .small-12.columns
    %input#clear-cart.small.radius.button.alert{type: 'button', value: 'Clear'}
    %input#purchase.small.radius.button.success{type: 'button', value: 'Purchase'}
.row
  .small-12.columns
    %h4 Orders
.row
  .small-12.columns
    %table#orders
      %thead
        %th ID
        %th Time
        %th Customer
        %th Products
        %th Total
        %th Shipping
        %th Grand
      %tbody
      %tfoot